[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/metaconscious/KernelSU-Next.git
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
